{% extends "base/page.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ticket.css') }}">
{% endblock %}
{% block page_header_text %}Fixed Ticket Header{% endblock %}
{% block page_subheader_text %}Welcome to the Ticket page.{% endblock %}
{% block content %}
<!-- Add ticket page specific content here -->
{% endblock %}
{% block control %}
<form>
    <div class="form-group">
        <label for="ticketNumber">Ticket Number</label>
        <input type="text" class="form-control" id="ticketNumber" placeholder="Enter ticket number">
    </div>
    <div class="form-group">
        <label for="ticketStatus">Status</label>
        <select class="form-control" id="ticketStatus">
            <option>Open</option>
            <option>In Progress</option>
            <option>Closed</option>
        </select>
    </div>
    <div class="form-group">
        <label for="ticketDescription">Description</label>
        <textarea class="form-control" id="ticketDescription" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="taskName">Issue Name</label>
        <input type="text" class="form-control" id="taskName" placeholder="Enter task name">
    </div>
    <div class="form-group">
        <label for="taskPriority">Priority</label>
        <select class="form-control" id="taskPriority">
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
        </select>
    </div>
</form>
<form id="uploadForm" action="{{ url_for('upload_ticket') }}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="label">Upload CSV/XLSX File</label>
        <div class="control">
            <input class="input" type="file" name="file" accept=".csv, .xlsx" required>
        </div>
        <div class="control">
            <button class="button is-link" type="submit">Upload</button>
        </div>
    </div>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/ticket.js') }}"></script>
{% endblock %}