html, body {
    height: 100%;
    margin: 0;
}
/* ***************** NAVIGATION BAR ***************** */
.navbar-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
    border-bottom: 2px solid #ddd;
}
/* ***************** BELOW NAVIGATION ***************** */
.container-fluid {
    padding-top: 70px; /* Make space for the fixed navbar */
}
.main-row {
    display: flex;
    height: calc(100vh - 70px);
}
/* ***************** CONTENT HEADER ***************** */
.content-header {
    position: fixed;
    top: 70px;
    left: 10px;
    width: calc(100% - 260px); /* Adjust according to the right-panel width */
    background-color: white;
    z-index: 20;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* ***************** LEFT HALF ***************** */
.left-half {
    flex-grow: 1;
    overflow-y: scroll; /* Always show vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    padding: 20px;
    margin-top: 120px; /* Adjust according to the height of the fixed header */
    margin-right: 230px; /* Adjust this to the width of the right-panel */
    box-sizing: border-box; /* Ensure padding and margin are included in width calculation */
}
.content-header {
    position: fixed;
    top: 70px;
    left: 10px;
    width: calc(100% - 260px); /* Adjust according to the right-panel width */
    background-color: white;
    z-index: 20;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.left-half p {
    word-wrap: break-word; /* Ensure text wraps within the container */
}
/* ***************** RIGHT HALF ***************** */
.right-half {
    position: fixed;
    top: 70px;
    right: 0;
    height: calc(100vh - 70px);
    width: 240px;
    overflow-y: auto; /* Independent vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background-color: #f8f9fa;
    padding: 20px;
    margin: 0px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}
