{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}
{% block content %}
<h1>About Page</h1>
<p>Welcome to the About page.</p>
<p>Application version: 1.0</p>
<p>Last update on {{ last_update_date }}</p>
<p>Browser information: <span id="browserInfo"></span></p>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/about.js') }}"></script>
{% endblock %}