<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Report - {{ issue.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
</head>
<body>
    <h1>Issue Report - {{ issue.title }}</h1>
    <table>
        <tr>
            <th>Title</th>
            <td>{{ issue.title }}</td>
        </tr>
        <tr>
            <th>Title (CN)</th>
            <td>{{ issue.title_cn if issue.title_cn else 'None' }}</td>
        </tr>
        <tr>
            <th>Report Date</th>
            <td>{{ issue.report_on }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ issue.category.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ issue.description }}</td>
        </tr>
        <tr>
            <th>Severity</th>
            <td>{{ issue.severity.name if issue.severity else 'N/A' }}</td>
        </tr>
        <tr>
            <th>Progress</th>
            <td>{{ issue.progress.name }}</td>
        </tr>
        <tr>
            <th>Final Resolution</th>
            <td>{{ issue.final_resolution if issue.final_resolution else 'N/A' }}</td>
        </tr>
        <tr>
            <th>Close Date</th>
            <td>{{ issue.close_on if issue.close_on else 'N/A' }}</td>
        </tr>
    </table>
    <h2>Resolutions</h2>
    <table>
        <tr>
            <th>Update On</th>
            <th>Description</th>
        </tr>
        {% for resolution in issue.resolutions %}
        <tr>
            <td>{{ resolution.update_on }}</td>
            <td>{{ resolution.description }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="2">No resolutions found for this issue.</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>