{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/issue.css') }}">
{% endblock %}
{% block page_header %}Fixed Issue Header{% endblock %}
{% block page_subheader %}Welcome to the Issue page.{% endblock %}
{% block content %}
<!-- Add task page specific content here -->
{% endblock %}
{% block control %}
<form>
    <div class="form-group">
        <label for="taskName">Issue Name</label>
        <input type="text" class="form-control" id="taskName" placeholder="Enter task name">
    </div>
    <div class="form-group">
        <label for="taskPriority">Priority</label>
        <select class="form-control" id="taskPriority">
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
        </select>
    </div>
    <div class="form-group">
        <label for="taskDueDate">Due Date</label>
        <input type="date" class="form-control" id="taskDueDate">
    </div>
</form>
<form action="/issue/pdf" method="GET" target="_blank">
    <div class="form-group">
        <label for="issue-select">Select Issue:</label>
        <!-- 选择后的数据为 name=value -->
        <select name="issue-id" id="issue-select" required>
            {% for issue in issues %}
                <option value="{{ issue.id }}" title="{{ issue.title }}">{{ issue.id }}</option>
            {% endfor %}
        </select>
    </div>
    <button id="print-issue-btn" type="submit" class="btn btn-primary">PRINT ISSUE</button>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/issue.js') }}"></script>
{% endblock %}